<h1>About This Project</h1>
<br>
<h6>The purpose of this project is to provide a comprehensive, ever evolving guide and directory to current and future MBA students at Georgetown University. The campus is breathtaking, unique, and a labyrinth. We are here to solve that. Have something you want featured on here or updated? Send us a message!</h5>
<br>
<a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Us!</a>
<br>
<br>
<h3>Rafik B. Hariri Building, home of the MBA Program.</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.6486970450887!2d-77.07772008438361!3d38.90914815385614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b640ebc0fa53%3A0x7cc0c6890bb9b103!2sRafik%20B.%20Hariri%20Building%2C%20Washington%2C%20DC%2020007!5e0!3m2!1sen!2sus!4v1651696797277!5m2!1sen!2sus"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>