<h1>Academic Links</h1>

<br>
<div class="list-group">
    <a href="https://myaccess.georgetown.edu/" class="list-group-item list-group-item-action">MyAccess</a>
    <a href="https://msb-georgetown.12twenty.com/Account/Login?ReturnUrl=%2fdashboard" class="list-group-item list-group-item-action">MCV</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
  </div>