<h1>Academic Links</h1>

<br>
<div class="list-group">
    <a href="https://myaccess.georgetown.edu/" class="list-group-item list-group-item-action">MyAccess</a>
    <a href="https://msb-georgetown.12twenty.com/Account/Login?ReturnUrl=%2fdashboard" class="list-group-item list-group-item-action">MCV</a>
    <a href="https://georgetown.instructure.com/" class="list-group-item list-group-item-action">Canvas</a>
    <a href="https://msb.georgetown.edu/mba/experience/" class="list-group-item list-group-item-action">Curriculum Map</a>
    <a href="https://msb.georgetown.edu/mba/academic-calendar/" class="list-group-item list-group-item-action">Academic Calendar</a>
    <a href="https://apps.georgetown.edu/" class="list-group-item list-group-item-action">Georgetown Google Login</a>
    <a href="https://engagemba.msb.edu/" class="list-group-item list-group-item-action">Engage</a>
    <a href="https://georgetown.emscloudservice.com/web/Default.aspx" class="list-group-item list-group-item-action">EMS - Room Request Site</a>
    <a href="https://georgetown.app.box.com/s/kprc7e0ma8zmqrv2huutmxokykc6hupw/folder/1436810118" class="list-group-item list-group-item-action">Electives Information</a>
    <a href="http://web.a.ebscohost.com.proxy.library.georgetown.edu/ehost/search/advanced?vid=0&sid=2428ed49-61ab-4aae-a439-196709008b46%40sessionmgr4007" class="list-group-item list-group-item-action">Library Search</a>
    <a href="https://hbsp.harvard.edu/coursepacks" class="list-group-item list-group-item-action">Harvard Coursepacks</a>
    <a href="https://sites.google.com/georgetown.edu/msbtech/home" class="list-group-item list-group-item-action">Tech Center</a>
  </div>