<h1>Where to find the best coffee on campus!</h1>
<br>

<div class="d-flex flex-row justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="https://images.squarespace-cdn.com/content/v1/5ecfd597347c7e45a782eba7/1625610609293-MSDQOO4MOFPYN2HZ1XNP/Midnight_cover_photo_1280x640-2.jpg?format=750w" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Midnight Mug</h5>
          <p class="card-text">Located in Lauinger Library, your saviour during late study hours.</p>
          <a href="https://www.thecorp.org/storefronts" class="btn btn-primary">View Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://images.squarespace-cdn.com/content/v1/5ecfd597347c7e45a782eba7/1625610609293-MSDQOO4MOFPYN2HZ1XNP/Midnight_cover_photo_1280x640-2.jpg?format=750w" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Uncommon Grounds</h5>
          <p class="card-text">Located above the  University bookstore in Leavey Center, also offers an assortment of pastries to sweeten your day </p>
          <a href="https://www.thecorp.org/storefronts" class="btn btn-primary">View Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://images.squarespace-cdn.com/content/v1/5ecfd597347c7e45a782eba7/1625610609293-MSDQOO4MOFPYN2HZ1XNP/Midnight_cover_photo_1280x640-2.jpg?format=750w" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Starbucks</h5>
          <p class="card-text">Located in Leavey Center, with a welcoming space to sit and study</p>
          <a href="https://www.starbucks.com/store-locator/store/10977/georgetown-university-leavey-center-3800-reservoir-road-washington-dc-200072113-us" class="btn btn-primary">View Details</a>
        </div>
      </div>
  </div>
