<!-- this is the "views/products.ejs " file... -->

<h1>Contact Us!</h1>

<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <br>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Cohort</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Fulltime '23</option>
        <option>Fulltime '24</option>
        <option>Flex '23</option>
        <option>Flex '24</option>
        <option>Flex '25</option>
        <option>EMBA '23</option>
        <option>EMBA '24</option>
        <option>EMBA '25</option>
      </select>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>