<div class="jumbotron">
    <div class="card bg-dark text-white">
      <img class="card-img" src="	https://msb.georgetown.edu/wp-content/uploads/2019/08/august_campus_resize.jpg" alt="Card image">
      <div class="card-img-overlay">
        <h1 class="text-primary">Hoya Guide</h1>
      </div>
    </div>
    <br>
    <p class="lead">The ultimate repository for Hoyas trying to survive the MBA program. This site contains the most important links you need to get through the next 2 years.</p>
    <hr class="my-4">
    <h3>Our Story:</h3>
    <p> A 1st year, 2nd year and Flex MBA student found themselves in the coolest course they've ever taken- Internet Business Technologies </p>
    <p> While comparing experiences, they bonded over the hassle of using numerous websites that students have to access for information </p>
    <p> They brainstormed and struck gold- a one stop solution that lists key resources: The Hoya Guide!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
    </p>
  </div>
