<div class="jumbotron">
    <h1><%= title %></h1>
    <p class="lead">The ultimate repository for Hoyas trying to survive the MBA program. This site contains the most important links you need to get through the next 2 years.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>